.Clients {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .05);
}

.Clients__header,
.Clients__item {
    display: grid;
    grid-template-columns: .2fr .6fr 1fr 1fr .5fr .5fr .8fr 1fr .3fr;
    padding: 20px;
    font-weight: bold;
}

.Clients__header p:nth-child(1) {
    grid-column: 2/3;
}

.Clients__item {
    font-weight: 500;
    align-items: center;
}

.Clients__item:nth-child(2n) {
    background-color: #f8f8f8
}

.Clients__item p:last-of-type {
    display: flex;
    justify-content: space-between;
}

.Clients__item.banned {
    background-color: #f89393;
    color: white;
}

.Clients__item.banned .bx-trash-alt,
.Clients__item.banned .bxs-hand {
    color: white;
}