.SearchForm {
    padding: 15px 20px;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 50px;
    width: 300px;
    background: url('../../assets/img/search.png');
    background-position: calc(100% - 15px);
    background-size: 5%;
    background-repeat: no-repeat;
    font-size: 12px;
    letter-spacing: 1px;
    color: #777;
}

.SearchForm:focus {
    outline-color:rgba(252,176,69,1);
}