.SearchProduct {
    background-color: #fff;
}

.Products__header {
    display: flex;
    justify-content: space-between;
}

.Products__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}

.Products__item {
    max-width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.05);
    border-radius: 8px;
}

.Products__picture img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.Products__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.Products__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.Products__desc h4 {
    padding-bottom: 10px;
    font-size: 24px;
}

.Products__desc p:nth-child(2) {
    padding-bottom: 20px;
}

.Products__desc p:nth-child(3) {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

.Products__btn {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

.Products__btn button {
    border: none;
    padding: 10px 30px;
    margin-left: 10px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
}

.Products__btn button:nth-of-type(1) {
    background-color: #e8af62;
}
.Products__btn button:nth-of-type(2) {
    background-color: #d7374f;
}

.Products__sort {
    padding: 20px 10px;
}

.Products__sort form {
    display: flex;
    column-gap: 20px;
}

.Products__sort select {
    width: 200px;
    font-size: 16px;
    border: none;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.05);
}

.Products__sort option {
    border: none;
}